body {
}
input[readonly] {
     cursor: not-allowed;
}
textarea[readonly] {
    cursor: not-allowed;
    background-color: #ffffff;
}
#txtStartDate
{
    width:195px !important;
}
.Status
{
    cursor:pointer;
    text-decoration:none;
}
