



#NoticePreview{
    width:38%;height:100%;
}

#EventEditDivBox
{
    display:none
}

.accordion-heading {
    
    background-color: #e0e5ea;
    line-height: 10px;
}

.eventViewDetails
{
    position:absolute;
    right:25px;
  
}

.eventViewDetails a {
    color: #337ab7 !important;
}

.accordion-inner p{
    /*white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 2000px;*/
 
  overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;


}

.eventImage {
height: 80px;
width: 100px;
padding: 1px;
float: left;
margin-top: -6px;
margin-right: 35px;
border: 1px solid #eee;

}

#divView
{
    display:none;
}

.NoticeEdit
{
    right: 5px; position: fixed;
}

 #NoticePreviewOnView 
{
height: 200px;
width: 150px;
}

 #lblAlreadyNotificationSend{
     color:red;
     font-style:italic;
   width:100%;
   display:none;
 }

 .accordion-toggle
 {
     pointer-events: none;
   cursor: default;
 }

  .btn-round{
    border-radius:10%!important;
    position: relative;
    left: 10%!important;
   
}

  .accordion-inner
  {
     height:110px;
  }

  .spnDates
  {
      font-size:10px;font-weight:100
  }

  .spnDateValues
  {
       font-size:10px;
       font-weight:100;
       color:#4a96ac!important;
       /*#7b91a6*/
