
#NoticePreview{
    width:38%;height:100%;
}

#EventEditDivBox
{
    display:none
}

.eventViewDetails
{
    position:absolute;
    right:25px;
  
}

.eventViewDetails a {
    color: #337ab7 !important;
}


.eventImage {
height: 80px;
width: 100px;
padding: 1px;
float: left;
margin-top: -6px;
margin-right: 35px;
border: 1px solid #eee;

}

#divView
{
    display:none;
}

.NoticeEdit
{
    right: 5px; position: fixed;
}

#NoticePreviewOnView 
{
height: 200px;
width: 150px;
}

#lblAlreadyNotificationSend{
     color:red;
     font-style:italic;
   width:100%;
   display:none;
 }

/*----------------------------*/

.priority.high span {
   
    padding: 1px 0px 1px 1px !important;
}

 .btnNew
 {
     margin-left: 345px;
 }

/*#viewAllLatest
{
    background-color:#f1f9ed;
    border-bottom: 1px solid #78cd51;
}*/



