body
{
    line-height: 10px;
}
.familyViewDetails
{
    position:absolute;
    right:25px;
}

.unitViewDetails
{
  position: relative;
top: -23px;
color: #337ab7 !important;
left: 82%;
}

#FamilyEditDivBox
{
    display:none;
}
#UnitEditDivBox
{
    display:none;
}
#FamilyViewDivBox
{
    display:none;
}
#UnitViewDivBox
{
    display:none;
}
.Uniteditdiv
{
    position:absolute;
    right:2%;
}
.Familyeditdiv
{
    position:absolute;
    right:2%;
}
.accordion-heading {
    
    background-color: #ddd;
}
	.panel-group .panel {
		border-radius: 0;
		box-shadow: none;
		border-color: #EEEEEE;
	}

	.panel-default > .panel-heading {
		padding: 0;
		border-radius: 0;
		color: #212121;
		background-color: #FAFAFA;
		border:1px solid #eeeeee;
        height: 30px;
	}

	.panel-title {
		font-size: 14px;
        position: absolute;
        margin-top: 0px;
	}

	.panel-title > a {
		display: block;
		padding: 15px;
		text-decoration: none;
        color:#535358;
	}
    .panel-title > a:hover
    {
        text-decoration:underline;
        color:#337ab7;
        font-size:15px;
    }
	.more-less {
		float: right;
		color: #212121;
	}

	.panel-default > .panel-heading + .panel-collapse > .panel-body {
		border-top-color: #EEEEEE;
	}
 
body {
	background-color: #26a69a;
}

.demo {
	padding-top: 60px;
	padding-bottom: 110px;
}
.more-less {
   
}
.panel-body {
    line-height: 30px;
    background-color:#eeeeee;
    border-bottom:2px solid #ffffff;
    margin-left: 12px;
}
 .big-blue {
    width: 200px;
    height: 200px;
    background-color: #00f;
  }
 .unitDetails
 {
      position: absolute;
    right: 85px;
 }
 .FamilyDetails
 {
     margin-left:365px;
 }
 .family
 {
     position: absolute;
    right: 85px;
 }
 .circlebtn
 {
      position: absolute;
    right: 65px;
    padding: 8px 10px 8px 13px;
 }
  .btnNew
 {
     left: 0px !important;
 }
.familyAdd
{
 position: absolute;
    right: 65px;
}

.thumbnail>img
{
    height:130px !important;
}
.row-fluid [class*="span"]
{
    margin-left:-0.435897%!important;
}
.row-fluid .span4 {
    width: 34.623932%;
}
h4 {
    line-height: 0px;
}
img
{
    height:65px;
}
div#faMemberHeaderDiv {
    margin-left: -5px;
}
img#NoData
{
    height:165px !important;
}
h4#familyLink>a:hover {
    text-decoration: underline;
    color:#337ab7;
    font-size:15px;
}
.unitLink
{
        margin-top: -7px;
}
i#faUser {
    padding-right: 10px;
}
.NavUnits
{
 cursor:pointer;   
}
.row-fluid .span4 {
    width: 25.623932%;
}
.thumbnail {
    border:none !important;
    padding:0px !important;
}
#rowfluidDiv {
    position: absolute;
    top: 1%;
    margin-left: 30%;
    width: 745px;
    text-align: center;
}
.alert{
    line-height:0px;
}
.navbar
{
    z-index:0 !important;
}
#imgThumbnail>img
{
    height: 85px !important;
}