body
{
    line-height: 10px;
}
.familyViewDetails
{
    position:absolute;
    right:25px;
}

.unitViewDetails
{
  position: relative;
top: -23px;
color: #337ab7 !important;
left: 82%;
}

#FamilyEditDivBox
{
    display:none;
}
#UnitEditDivBox
{
    display:none;
}
#FamilyViewDivBox
{
    display:none;
}
#UnitViewDivBox
{
    display:none;
}
.Uniteditdiv
{
    position:absolute;
    right:2%;
}
.Familyeditdiv
{
    position:absolute;
    right:2%;
}
.accordion-heading {
    
    background-color: #ddd;
}

/*******************************
* ACCORDION WITH TOGGLE ICONS
* Does not work properly if "in" is added after "collapse".
* Get free snippets on bootpen.com
*******************************/
	.panel-group .panel {
		border-radius: 0;
		box-shadow: none;
		border-color: #EEEEEE;
	}

	.panel-default > .panel-heading {
		padding: 0;
		border-radius: 0;
		color: #212121;
		background-color: #FAFAFA;
		border-color: #EEEEEE;
	}

	.panel-title {
		font-size: 14px;
	}

	.panel-title > a {
		display: block;
		padding: 15px;
		text-decoration: none;
	}

	.more-less {
		float: right;
		color: #212121;
	}

	.panel-default > .panel-heading + .panel-collapse > .panel-body {
		border-top-color: #EEEEEE;
	}

/* ----- v CAN BE DELETED v ----- */
body {
	background-color: #26a69a;
}

.demo {
	padding-top: 60px;
	padding-bottom: 110px;
}
.more-less {
   
}
.panel-body {
    line-height: 30px;
    background-color:#eeeeee;
    border-bottom:2px solid #ffffff;
}
 .big-blue {
    width: 200px;
    height: 200px;
    background-color: #00f;
  }
 .unitDetails
 {
      position: absolute;
    right: 65px;
 }
 .FamilyDetails
 {
     margin-left:365px;
 }
 .family
 {
     position: absolute;
    right: 65px;
 }
 .circlebtn
 {
      position: absolute;
    right: 65px;
    padding: 8px 10px 8px 13px;
 }
  .btnNew
 {
     left: 250px;
 }
div.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 6px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    text-shadow:none!important;
}

div.accordion.active, div.accordion:hover {
    background-color: #FA603D!important;
    color:white!important;
}

div.accordion:after {
    content: '\02795'!important;
    font-size: 15px;
    color: #777;
    float: right;
    margin-left: 10px!important;
    margin-top:11px!important;
}

div.accordion.active:after {
    content: "\2796"!important;
}

