body
{
    line-height: 20px;
}
.familyViewDetails
{
    position:absolute;
    right:25px;
}
.imgNoImage
{
    /*height:85px;*/
}
.unitViewDetails
{
  position: relative;
top: -23px;
color: #337ab7 !important;
left: 82%;
}

#FamilyEditDivBox
{
    display:none;
}
#UnitEditDivBox
{
    display:none;
}
#FamilyViewDivBox
{
    display:none;
}
#UnitViewDivBox
{
    display:none;
}
.Uniteditdiv
{
    position:absolute;
    right:2%;
}
.Familyeditdiv
{
    position:absolute;
    right:2%;
}
.accordion-heading {
    
    background-color: #ddd;
}
    .unitLink:hover
    {
        text-decoration:underline;
        color:#337ab7;
        /*font-size:16px;*/
        cursor:pointer;
    }
	.more-less {
		float: right;
		color: #212121;
	}
    .demo {
	padding-top: 60px;
	padding-bottom: 110px;
}
    .big-blue {
    width: 200px;
    height: 200px;
    background-color: #00f;
  }
     .unitDetails
 {
      position: absolute;
    right: 85px;
 }
 .FamilyDetails
 {
     margin-left:365px;
 }
 .family
 {
     position: absolute;
    right: 85px;
 }
 .circlebtn
 {
      position: absolute !important;
    right: 80px !important;
    top:15px !important;
    padding: 8px 10px 8px 10px !important;
    /*padding: 8px 10px 8px 13px;*/
 }
  .btnNew
 {
     left: 0px !important;
 }
.familyAdd
{
 position: absolute;
    right: 65px;
}
.thumbnail>img
{
    /*height:85px !important;*/
}
/*.row-fluid [class*="span"]
{
    margin-left:-0.435897%!important;
}*/
/*.row-fluid .span4 {
    width: 34.623932%;
}*/
h4 {
    line-height: 0px;
}
h4 {
    line-height: 0px;
}
div#faMemberHeaderDiv {
    margin-left: -5px;
}
/*img#NoData
{
    height:165px !important;
}*/
h4#familyLink>a:hover {
    text-decoration: underline;
    color:#337ab7;
    /*font-size:15px;*/
}
.unitLink
{
        margin-top: -7px;
        font-weight:600;
}
i#faUser {
    padding-right: 10px;
}
.NavUnits
{
 cursor:pointer;   
}
/*.row-fluid .span4 {
    width: 22.623932%;
}*/
/*.thumbnail {
    border:none !important;
    padding:0px !important;
}*/
#rowfluidDiv {
    position: absolute;
    top: 1%;
    margin-left: 30%;
    width: 745px;
    text-align: center;
}
.alert{
    line-height:0px;
}
/*.navbar
{
    z-index:0 !important;
}*/
#imgThumbnail>img
{
    /*height: 85px !important;*/
}
.circlebtn {
    position: absolute;
    right: 55px;
    padding:5px 9px 6px 10px;
}
.Edit {
    margin-left: 470px !important;
    margin-top: -25px;
    cursor: pointer;
    
}
.pencilEdit {
    /*margin-left: 470px !important;*/
    margin-top: -10px;
    cursor: pointer;
    
}
.ViewUnit {
    margin-left: 20px;
    margin-top: -10px;
    /*margin-top: -34px;
    cursor: pointer;*/
}
.accordion-inner {
    height: 30px;
}
.lead {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    font-weight:500;
    line-height:20px;
}
/*.btnNew {
    left: 93%!important;
    top: -14px;
}*/

/*h2
{
    margin:-4px 0px;
}*/
.form-horizontal .control-label
{
    margin-left:3%;
}
img#imgFamily
{
    /*height:85px !important;*/
}
/*img#AdminImg {
    height: 130px !important;
}*/
img#MemberImg {
    height: 150px !important;
}