.familyViewDetails
{
    position:absolute;
    right:25px;
}

.unitViewDetails
{
  position: relative;
top: -23px;
color: #337ab7 !important;
left: 82%;
}

#FamilyEditDivBox
{
    display:none;
}
#UnitEditDivBox
{
    display:none;
}
#FamilyViewDivBox
{
    display:none;
}
#UnitViewDivBox
{
    display:none;
}
.Uniteditdiv
{
    position:absolute;
    right:2%;
}
.Familyeditdiv
{
    position:absolute;
    right:2%;
}