div.img {
    border: 1px solid #ccc;
}
div.img-fixed {
    border: 1px solid #ccc;
    
}
.DefaultCreateAlbum
{
position: absolute;
border: 2px dotted black;
width: 250px;
height: 200px;
top: 20px;
}
#newalbum
{
    position: relative;
top: 112px;
left: 74px;
}
div.img:hover {
    border: 1px solid #777;
    opacity:0.2;
   
}
.addnewAlbum:hover{
     opacity:0.6;

}
.addnewImage:hover
{
    opacity:0.6;
}

.addnewAlbum
{
    height:100%;
    width:100%;
}
.addnewImage
{
 height:100%;
 width:100%;
}
div.img img {
    width: 100%;
    height: auto;
}


div.desc {
    padding: 15px;
    text-align: center;
}
div.desc-fixed {
    padding: 15px;
    text-align: center;
}
/** {
    box-sizing: border-box;
}*/

.responsive {
    padding: 5px 6px;
    /*float: left;*/
    width: 23%;
    display: inline-flex;
}

.responsive-fixed
{
    padding: 5px 6px;
    width: 23%;
    /*height: auto;*/
    display: inline-flex;
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}
#choose
{
    position: absolute;
    top: 30%;
    left: 9%;
    background-color: #cfcfcf;
    color: white;
  
}
#chooseimage{
    position: absolute;
    left: 9%;
    background-color: #cfcfcf;
    color: white;
    bottom:30px;
}
#chooseVideoAlbum
{
    position: absolute;
    left: 9%;
    background-color: #cfcfcf;
    color: white;
    bottom:30px;
}
#chooseVideo
{
    position: absolute;
    left: 9%;
    background-color: #cfcfcf;
    color: white;
    bottom:30px;
}
.thumb
{
height: 140px;
width: 245px;
padding-left: 10px;
padding-top: 10px;
}

.modal 
{
    position: fixed;
    top: 10%;
    left: 50%;
    z-index: 1050;
    width: 750px;
    margin-left: -400px;
}

