div.img {
    border: 1px solid #ccc;
}
div.img-fixed {
    border: 1px solid #ccc;
 }
div.Albimg
{
     border: 1px solid #ccc;
}

.dynamicImgAlbum
{
    background-image: url('smiley.gif');
    background-repeat: no-repeat;
    background-position: center; 
    cursor:pointer;
}

.DefaultCreateAlbum
{
position: relative;
border: 2px dotted black;
width: 250px;
height: 215px;
background: #efefef;
}
#newalbum
{
position: relative;
top: 0px;
left: 70px;
}
#newimage
{
position: relative;
top: 0px;
left: 89px;
}

div.img:hover {
    border: 1px solid #777;
    opacity:0.2;
    
   
}
.addnewAlbum:hover{
     opacity:0.6;

}
.addnewImage:hover
{
    opacity:0.6;
}

.addnewAlbum
{
    height:100%;
    width:100%;
}
.addnewImage
{
 height:100%;
 width:100%;
}
div.img img {
 width: 100%;
 height: auto;
}
div.desc {
/*padding: 15px;
text-align: center;
background-color: #419dc6;
opacity: 0.6;
color: black;
font-size: 22px;
margin-top: 40%;
position: relative;
font-weight: 900;
text-shadow: 7px 6px 4px;*/

   padding: 15px;
text-align: center;
background-color: #fff;
   
    color: black;
font-size: 18px;
margin-top: 70%;
position: relative;
font-weight: 300;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
    transform: rotate(-2deg);

}
div.desc-fixed {
    padding: 15px;
    text-align: center;
}
/** {
    box-sizing: border-box;
}*/

.responsive {
    padding: 5px 5px;
    /*float: left;*/
    width: 23%;
    display: inline-flex;
}

.responsive-fixed
{
padding: 37px 16px;
display: inline-flex;
position: relative;
border: 2px dotted black;
width: 250px;
height: auto;
background: #efefef;
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

#choose
{
    position: absolute;
    top: 30%;
    left: 9%;
    background-color: #cfcfcf;
    color: white;
  
}
#chooseimage{
    position: absolute;
    left: 9%;
    background-color: #cfcfcf;
    color: white;
    bottom:30px;
}
#chooseVideoAlbum
{
    position: absolute;
    left: 9%;
    background-color: #cfcfcf;
    color: white;
    bottom:30px;
}
#chooseVideo
{
    position: absolute;
    left: 9%;
    background-color: #cfcfcf;
    color: white;
    bottom:30px;
}
.thumb
{
height: 240px;
width: 226px;
/*padding-left: 10px;
padding-top: 10px;*/
border: 1px solid #000;
margin: 10px 5px 0 0;
}

.modal 
{   position: fixed;
    top: 10%;
    left: 50%;
    z-index: 1050;
    width: 750px;
    margin-left: -25%/*-200px*/;
}
.span3{
    height: 250px!important;
    margin:4px!important;
   
    
}
#previewdiv .span4{
   
    margin:4px!important;
    height:180px!important;
}
#previewdivinimages .span4
{
     margin:4px!important;
    height:180px!important;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*width: 250px;*/
    width:auto;
    height: 246px;
 }
.dynamicImages
{
     height: auto;
}

.attnimages
{
    width: 19%;
    display: block;
    float: left;
    height:250px;
    padding-left: 5px;
    padding-bottom:8px;
    position:relative;
    object-fit:cover;
}
.attnimages:hover
{
     opacity: 0.5;
}
.EditDiv
{
    width: 19%;
    display: block;
    float: left;
    height:250px;
    padding-left: 5px;
    padding-bottom:8px;
   
}
.btnEdit
{
    font-size: 14px;
    padding: 8px 9px 4px 11px;
}



.Editimage
{    
    position:relative;
    left:5px;
    top:0;
    height:inherit;
    opacity: 0.3;
}
.Editimage:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}
.deletetext
{
   z-index: 1;
position: relative;
font-size: 16px;
font-weight: bold;
left: 50%;
top: -49%;
cursor:pointer;
}

