#tags{
  float:left;
  border:1px none;
  padding:5px;
  font-family:Arial;
}
#tags > span{
  cursor:pointer;
  display:block;
  float:left;
  color:#fff;
  background:#004e96;
  padding:5px;
  padding-right:25px;
  margin:4px;
}
#tags > span:hover{
  opacity:0.7;
}
#tags > span:after{
 position:absolute;
 content:"×";
 border:0px solid;
 padding:2px 5px;
 margin-left:3px;
 font-size:17px;
}
#tags > input{
 
    margin: 0px;
    padding: 6px;
    width: 2px;
    height:1px;

}
 .time,
        .mins,
        .meridian {
            width: 60px;
            float: left;
            margin: 0px 10px;
            font-size: 20px;
            color: #2d2e2e;
            font-family: 'arial';
            font-weight: 700;
        }

        .prev,
        .next {
            cursor: pointer;
            padding: 18px;
            width: 28%;
            border: 1px solid #ccc;
            background: url(../img/arrow.png) no-repeat;
            border-radius: 5px;
        }

        .next {
            background-position: 50% 150%;
        }

        .prev {
            background-position: 50% -50%;
        }

        .time_pick {
            position: relative;
        }

        /*input{ float:left;}*/

        .timepicker_wrap {
            padding: 10px;
            border-radius: 5px;
            z-index: 2;
            display: none;
            width: 100%;
            box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.35);
            background: #f6f6f6;
            border: 1px solid #ccc;
            float: left;
            position: absolute;
            top: 27px;
            left: 0px;
            height: 145px;
        }
         .arrow_top {
            position: absolute;
            top: -10px;
            left: 20px;
            background: url(../img/top_arr.png) no-repeat;
            width: 18px;
            height: 10px;
            z-index: 3;
        }
#NoData {
    position: absolute;
    width: 515px;
    height: 150px;
}
#rowfluidDiv {
    position: absolute;
    top: 1%;
    margin-left: 30%;
    width: 745px;
    text-align: center;
}
/*.btnmulti
{
      background-color: #ffffff !important;
    color:#000000 !important;
}*/
 .box-content
 {
     background-color:#E8EAEF !important;
 }
 input[type=text]
 {
     border:none;
 }