
body
{
    line-height: 20px;
    color: #333;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
#NotificationEditDivBox
{
    display:none;
}
ul.dashboard-list li{
    box-shadow: #4745b44d 3px 0px 25px -3px;
    padding: 69px 0;
    line-height: 52px;
    font-size: 14px;
    line-height: 35px !important;
}

/*.priority.low{
    margin-top: 25px!important;
}*/
ul.dashboard-list li .Notificationimage {
height: 208px;
width: 325px;
padding: 1px;
float: left;
margin-top: -6px;
margin-right: 35px;
border: 1px solid #eee;
border-radius:8%;
border-bottom: 1px solid #fee2b7 !important;
}

.task .Notificationeditdiv {
    display: inline-block;
    float: right;
    width: 15%;
    padding: 10px 10px 10px 0px;
    font-size: 12px;
    text-align: right;
}

.Notificationlist{
    line-height:67px;
}
.aViewDetails,.aViewMore,.aOldViewMore
{
    margin-left: 420px;
    color: steelblue;
    cursor:pointer;
}
.aBack,.aOldBack
{
    color: steelblue;
    cursor:pointer;
}
.expiryDate{
     position:absolute;
    left: 405px;
}
.btn-round{
    border-radius:10%!important;
    position: relative;
    left: 70%!important;

}
.NotificationEdit
{
    cursor:pointer;
}
ul.dashboard-list li {
    padding: 0px 0 !important;
    line-height: 45px !important;
}
#rowfluidDiv {
    position: absolute;
    top: 1%;
    margin-left: 30%;
    width: 745px;
    text-align: center;
}

.GridCaption
{
    background-color:#fee2b7;
}
ul.dashboard-list li:last-child {
    line-height: 22px !important;
}
.task {
    box-shadow: 1px 1px 5px #fee2b7;
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 1px;
  
}
 .accordion-toggle
 {
     pointer-events: none;
   cursor: default;
 }
 .accordion-heading {
    
    background-color: #e0e5ea;
    line-height: 10px;
}
 /*.accordion-heading {
    background-color: #e0e5ea;
    line-height: 25px;
    padding-left: 2px;
}*/
 p {
    margin: 0 0 10px;
}
 .Desc
 {
     
 }
 .btnNew
 {
     margin-left: 345px;
 }
 ul.dashboard-list li {
    padding: 0px 0 !important;
    line-height: 22px !important;
}
 .accordion-inner p{
    /*white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 2000px;*/
 
  overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;


}
 .latestNotifications
 {
    background-color: #ffefec;
    height: 30px;
}
 .OldNotifications
 {
     background-color: #f1f9ed;
    height: 30px;
 }
.latest {
    background-color: #fa603d;
    text-align: center;
    color: white;
    font-size: 17px;
}
.Old
{
      background-color:#78cd51;
    /*padding: 2px 2px 7px 2px;*/
     padding: 1px 0px 1px 1px !important;
    text-align: center;
    color: white;
}
.priority.high span {
    padding: 1px 0px 1px 1px !important;
}
.circlebtn{
padding: 8px 10px 8px 13px;
}
#txtDescription
{
    width:335px;
}
.alert
{
    line-height:10px !important;
}
#viewAllLatest
{
    background-color:#f1f9ed;
    border-bottom: 1px solid #78cd51;
}
#viewAllLatest
{
    background-color: #ffefec;
    border-bottom: 1px solid #fa603d;
}
.spnDates
  {
      font-size:10px;font-weight:100
  }

.spnDateValues {
    font-size: 10px;
    font-weight: 100;
    /*color: #4a96ac !important;*/
    /*#7b91a6*/
}
.spanDiv
{
   padding-left: 290px;
}