body {
}

       
ul.dashboard-list li .imgNotice {
    height: 158px;
    width: 100%;
    padding: 1px;
    float: left;
    margin-top: -6px;
    margin-right: 125px;
    border: 1px solid #eee;
     /*border-left: 2px solid rgba(250,96,61,1);*/
}


.liNoticeList{
    line-height:50px;
}

.pContainerNotice
{
    height:158px!important
}

.spanNoticeTitle
{
    font-weight:bold;
    color:#FA603D;
}

#divulContainer
{
    border-left: 2px solid rgba(250,96,61,1);
    border-bottom: 1px solid #f9f9f9;
    margin-bottom: 1px;
}

