body {
}

/*.unitViewDetails
{
  position: relative;
top: -18px;
color: #337ab7 !important;
left: 82%;
}*/

 .lead
 {
     overflow: hidden;
     text-overflow: ellipsis;
     white-space: nowrap;
     font-size:16px;
 }
.task .Eventeditdiv {
    display: inline-block;
    float: right;
    width: 15%;
    padding: 10px 10px 10px 0px;
    font-size: 12px;
    text-align: right;
}

/*.Eventlist{
    line-height:67px;
}*/

#divNotificationDates
{
    display:none;
}

#NoticePreview{
    width:34%;height:100%;
}

#NoticeEditDivBox
{
    display:none
}

.accordion-heading {
    
    background-color: #e0e5ea;
    line-height: 10px;
}

.eventViewDetails
{
    position:absolute;
    right:25px;
  
}

.NoticeViewDetails a {
    color: #337ab7 !important;
}

.accordion-inner p{
    /*white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 2000px;*/
 
  overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;


}

.noticeImage {
height: 80px;
width: 100px;
padding: 1px;
float: left;
margin-top: -6px;
margin-right: 35px;
border: 1px solid #eee;

}

#divView
{
    display:none;
}

.NoticeEdit
{
    right: 5px; position: fixed;
}

 #NoticePreviewOnView 
{
height: 200px;
width: 150px;
}

 #lblAlreadyNotificationSend{
     color:red;
     font-style:italic;
   width:100%;
   display:none;
 }

 .accordion-toggle
 {
     pointer-events: none;
   cursor: default;
 }

 .btn-round{
    border-radius:10%!important;
    position: relative;
    left: 10%!important;
   
}

 .NoticeViewDetails
{
    position:absolute;
    right:25px;
  
}
 


 /*-----------------*/

 .btnNew
 {
     left: 93%;
     top:-14px;
 }

