body {
}

       
ul.dashboard-list li .imgNotice {
    height: 158px;
    width: 100%;
    padding: 1px;
    float: left;
    margin-top: -6px;
    margin-right: 125px;
    border: 1px solid #eee;
     /*border-left: 2px solid rgba(250,96,61,1);*/
}


.liNoticeList{
    line-height:50px;
}

.pContainerNotice
{
    height:158px!important
}

.spanNoticeTitle
{
    font-weight:bold;
    color:#FA603D;
}

#divulContainer
{
    border-left: 2px solid rgba(250,96,61,1);
    border-bottom: 1px solid #f9f9f9;
    margin-bottom: 1px;
}

.btn-round{
    border-radius:10%!important;
    position: relative;
    left: 75%!important;

}
/*//*/

ul.dashboard-list li{
    box-shadow: #4745b44d 3px 0px 25px -3px;
    padding: 69px 0;
    line-height: 52px;
}

.priority.low{
    margin-top: 25px!important;
}
ul.dashboard-list li .Eventimage {
height: 200px;
width: 100px;
padding: 1px;
float: left;
margin-top: -6px;
margin-right: 35px;
border: 1px solid #eee;
border-radius:8%;
}

.task .Eventeditdiv {
    display: inline-block;
    float: right;
    width: 15%;
    padding: 10px 10px 10px 0px;
    font-size: 12px;
    text-align: right;
}

.Eventlist{
    line-height:67px;
}