

#NotificationEditDivBox
{
    display:none;
}
ul.dashboard-list li{
    box-shadow: #4745b44d 3px 0px 25px -3px;
    padding: 69px 0;
    line-height: 52px;
}

.priority.low{
    margin-top: 25px!important;
}
ul.dashboard-list li .Notificationimage {
height: 208px;
width: 325px;
padding: 1px;
float: left;
margin-top: -6px;
margin-right: 35px;
border: 1px solid #eee;
border-radius:8%;
}

.task .Notificationeditdiv {
    display: inline-block;
    float: right;
    width: 15%;
    padding: 10px 10px 10px 0px;
    font-size: 12px;
    text-align: right;
}

.Notificationlist{
    line-height:67px;
}


