body {
}

       
ul.dashboard-list li .imgNotice {
    height: 158px;
    width: 100%;
    padding: 1px;
    float: left;
    margin-top: -6px;
    margin-right: 125px;
    border: 1px solid #eee;
     /*border-left: 2px solid rgba(250,96,61,1);*/
}


.liNoticeList{
    line-height:50px;
}

.pContainerNotice
{
    height:158px!important
}

.spanNoticeTitle
{
    font-weight:bold;
    color:#FA603D;
}

#divulContainer
{
    border-left: 2px solid rgba(250,96,61,1);
    border-bottom: 1px solid #f9f9f9;
    margin-bottom: 1px;
}

.btn-round{
    border-radius:10%!important;
    position: relative;
    left: 10%!important;
   
}
/*//*/

ul.dashboard-list li{
    box-shadow: #4745b44d 3px 0px 25px -3px;
    padding: 69px 0;
    line-height: 52px;
}

.priority.low{
    margin-top: 25px!important;
}
ul.dashboard-list li .Eventimage {
height: 200px;
width: 100px;
padding: 1px;
float: left;
margin-top: -6px;
margin-right: 35px;
border: 1px solid #eee;
border-radius:8%;
}

.task .Eventeditdiv {
    display: inline-block;
    float: right;
    width: 15%;
    padding: 10px 10px 10px 0px;
    font-size: 12px;
    text-align: right;
}

.Eventlist{
    line-height:67px;
}

#divNotificationDates
{
    display:none;
}

.dark
{
    top:10px;
}

#NoticePreview{
    width:38%;height:100%;
}

#PriestEditDivBox
{
    display:none
}
.accordion-heading {
    
    background-color: #e0e5ea;
    line-height: 10px;
}
.NoticeViewDetails
{
    position:absolute;
    right:25px;
  
}
.NoticeViewDetails a {
    color: #337ab7 !important;
}
/*.unitViewDetails
{
  position: relative;
top: -18px;
color: #337ab7 !important;
left: 82%;
}*/

.accordion-inner p{
    /*white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 2000px;*/
 
  overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;


}

.Eventimage {
height: 80px;
width: 100px;
padding: 1px;
float: left;
margin-top: -6px;
margin-right: 35px;
border: 1px solid #eee;

}

#divView
{
    display:none;
}
.NoticeEdit
{
    right: 5px; position: fixed;
}


/*#NoticePreviewOnView
{
    width:40%;
    height:100%;
}

#lblNoticeDescriptionOnView
{
    width:100%
}*/

 #NoticePreviewOnView 
{
height: 200px;
width: 150px;
}

 #lblAlreadyNotificationSend{
     color:red;
     font-style:italic;
   width:100%;
   display:none;
 }

 .accordion-toggle
 {
     pointer-events: none;
   cursor: default;
 }