body {
}

.span3{
    height: 250px!important;
    margin:4px!important;
}

ul.dashboard-list li .priestimage {
    /*height: 133px;*/
    width: 70%;
    padding: 5px;
    /*float: left;
    margin-top: -6px;
    margin-right: 125px;
    border: 1px solid #eee;*/
    /*border-radius:50%;*/
}



.vicarlist{
    line-height:50px;
    /**//*-webkit-box-shadow:#4745b44d 3px 0px 25px -3px;*/
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow:  0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);          
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    display:flex;
    
}


/*-------------------------------------------*/

