body {
}
/*----------Priest------------*/
.img-polaroid
{
height:200px;
width:90%;
cursor:pointer;
}
#DivSaints ul{
    display:ruby!important;
    
}

.thumbnail p{
    /*white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 2000px;*/
 
  overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;

}

.thumbnail
{
    height:270px;
}


#divAddSaint{
    height: 275px!important;border: 2px dotted black;background-color: #fefefe;display: block;float: left;padding-left: 5px;padding-bottom:8px;
}

.PlusImg{
    text-align: center;display: block;position: absolute;height: 37px;width: 37px;top: 135px;left: 85px;
}

#aNewSaint{
    top: 67%;left: 29%;position: relative;cursor:pointer;color: #337ab7 !important;
}

#imgDiv
{
    height:150px
}
#imgSaint
{
    height:95%
}
#NameDiv
{
    height:70px
}

#DivIndividualPatron
{
    display:none;
}

/*.NovenaImage
{
    height: 120px!important;
width: 120px!important;
padding: 1px!important;
float: left!important;
margin-top: -6px!important;
margin-right: 35px!important;
border: 1px solid #eee!important;

}*/

ul.dashboard-list li .NovenaImage {
    height: 160px;
    width: 133px;
    padding: 5px;
    border-radius: 10%;
}
.NovenaImage {
    height: 140px;
    width: auto;
    padding: 5px;
    border-radius: 10%;
    object-fit: cover!important;
    align-content: center;
}



.novenaViewDetails
{
    position:absolute;
    right:25px;
}


.novenaViewDetails a {
    color: #337ab7 !important;
}

/*----------------Novena Bind---------------------------*/

.liNovenaImg
{
    width:25%!important;
}

.pPriestDesc
{
  overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
/*object-fit: cover!important;*/
}

ul.dashboard-list li{
    padding:21px!important;
}

.NovenaCaption{
    font-size:23px!important;
    font-weight:500;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#9e5d5d
}

.NovenaList{
    line-height:50px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow:  0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);          
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    display:flex;
  
}

 .btnNew
 {
     margin-left: 70%
 }

 aNovenaViewMore
 {
     color:saddlebrown!important;
     font-weight:700!important;
     cursor:pointer!important;
     text-decoration: underline!important;
 }

 /*-------------New Novena---------------*/
 /*.form-actions
 {
    padding:0px
 }
 .box-header
 {
     height:10px
 }*/

 /*#DivNovenaTiming
 {
     display:none
 }*/

 #txtDescription
 {
     /*width:480px*/
 }

 #DivNovenaTiming
 {background-color: #e8eaef; margin-left:0px;margin-top:20px;
     /*background-color: #e8eaef; border: 1px solid; border-color: #5bc0de;margin-left:0px;margin-top:20px;*/
   /*border: 1px solid; border-color: #004e96;margin-left:0px;margin-top:20px;*/
     
           -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);

 }

 #DivNewNovena
 {
    display:none
 }

#imgNovenaView {
     width: 100%;
    height: 100%;
    padding: 1px;
    float: left;
    margin-top: -6px;
    margin-right: 35px;
    border: 1px solid #eee;
}

 #imgNewNovena {
    width: 40%;
    height: 50%;
}

 #divStartDate
 {
     display:none;
 }
 #divEndDate
 {
     display:none;
 }

.form-actions{
    padding-left:2px!important;
}

#DivViewFormat
{
    display:none;
    margin-top:0px!important;
    
}
 /*------------Time picker-----------*/
 #circle {
    position: absolute;
    top: 7px;
    left: 21px;
    color: #ffffff;
    font-weight: 500;
}
  .time,
        .mins,
        .meridian {
            width: 60px;
            float: left;
            margin: 0px 10px;
            font-size: 20px;
            color: #2d2e2e;
            font-family: 'arial';
            font-weight: 700;
        }

        .prev,
        .next {
            cursor: pointer;
            padding: 18px;
            width: 28%;
            border: 1px solid #ccc;
            background: url(../img/arrow.png) no-repeat;
            border-radius: 5px;
        }

        .next {
            background-position: 50% 150%;
        }

        .prev {
            background-position: 50% -50%;
        }

        .time_pick {
            position: relative;
        }

        /*input{ float:left;}*/

        .timepicker_wrap {
            padding: 10px;
            border-radius: 5px;
            z-index: 2;
            display: none;
            width: 80%;
            box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.35);
            background: #f6f6f6;
            border: 1px solid #ccc;
            float: left;
            position: absolute;
            top: 27px;
            left: 0px;
            height: 130px;
        }
         .arrow_top {
            position: absolute;
            top: -10px;
            left: 20px;
            background: url(../img/top_arr.png) no-repeat;
            width: 18px;
            height: 10px;
            z-index: 3;
        }

         /*--------------------*/

         #DivNovenaTiming .control-group
         {
             margin-left:20px!important;
         }

          #DivNovenaTiming h2
         {
             margin-left:20px!important;
         }


          /*----------*/

#NoticeEdit {
    margin-left: 200px;
}