body {
}

.img-polaroid
{
height:200px;
width:90%;
cursor:pointer;
}
#DivSaints ul{
    display:ruby!important;
    
}

.thumbnail p{
    /*white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 2000px;*/
 
  overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;


}

.thumbnail
{
    height:270px;
}


#divAddSaint{
    height: 275px!important;border: 2px dotted black;background-color: #fefefe;display: block;float: left;padding-left: 5px;padding-bottom:8px;
}

.PlusImg{
    text-align: center;display: block;position: absolute;height: 37px;width: 37px;top: 135px;left: 85px;
}

#aNewSaint{
    top: 67%;left: 29%;position: relative;cursor:pointer;color: #337ab7 !important;
}

#imgDiv
{
    height:150px
}
#imgSaint
{
    height:95%
}
#NameDiv
{
    height:70px
}

#DivIndividualPatron
{
    display:none;
}
/*-------------------------------------------*/

