

#PriestEditDivBox
{
    display:none;
}



ul.dashboard-list li .priestimage {
    height: 158px;
    width: 133px;
    padding: 1px;
    float: left;
    margin-top: -6px;
    margin-right: 125px;
    border: 1px solid #eee;
}

.task .priesteditdiv {
    display: inline-block;
    float: right;
    width: 15%;
    padding: 10px 10px 10px 0px;
    font-size: 12px;
    text-align: right;
}

.vicarlist{
    line-height:50px;
}

.thumb
{
    height: 158px;
    width: 133px;
    padding: 1px;
    float: left;
    margin-top: -6px;
    margin-right: 125px;
    border: 1px solid #eee;
}