<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="ChurchConnection" connectionString="Data Source=WIN-ISPHTIHPJFI;Initial Catalog=ChurchApp;User ID=dba;Password=dba@2015" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000">
        </jsonSerialization>
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.web>
    <!--Set session timeout here :-timout in minutes-->
     <sessionState mode="InProc" timeout="25" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" maxRequestLength="1048576" executionTimeout="360" />
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
  </system.web>
  <system.webServer>
     <security>
      <requestFiltering>
         <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
   </security>
  </system.webServer>
  <appSettings>
    <add key="alongroad" value="1"/>
    <add key="keyString" value="AIzaSyB0TpJsNp7p5F_C_hSxu21BD14jMK83qu4"/>
    <add key="clientID" value=""/>
    <add key="TimeZone" value="India Standard Time" />
    <add key="format" value="d'-'MMM'-'yyyy" />
    <add key="ourculture" value="en-US" />
    <!--Written by Tom -->
    <add key="cryptography" value="thrithvam2016"/>
    <add key="server name" value="localhost:40922"/>
    <add key="EmailFromAddress" value="info@tiquesinn.com"/>
    <add key ="SMTP-host" value="smtp.gmail.com"/>
    <add key ="SMTP-UserName" value="tiquesinn"/>
    <add key="SMTP-Password" value="passwordagain1"/>
    <add key="VerificationCode" value="Verification Code"/>
    <add key="Port" value="587"/>
  </appSettings>

</configuration>